.mainContainer{
    /*background-color: red;*/
    display: flex;
}
.leftContainer{
   /* background-color: blue;*/
    width: 30%;
}
.rightContainer{
   /* background-color: grey;*/
    width: 70%;
}